---
import Sidebar from "@/components/SidebarCart.astro";
import { ShoppingCart } from '@lucide/astro'
import { Image } from 'astro:assets'
export const prerender = true
---

<nav
  class="w-full h-14 flex items-center justify-between px-6 lg:px-32 xl:px-64 gap-4 shadow-md fixed left-0 top-0 z-50 transition-colors bg-black/40 backdrop-blur-md"
>
  <Image
    class="w-12 h-12"
    src="/images/logo.webp"
    alt="Logo"
    width={40}
    height={40}
    inferSize
    priority
  />
  <button id="cart-button" class="cursor-pointer relative">
    <ShoppingCart class="text-primary w-8 h-8" />
      <span id="cart-count" class="bg-red-500 text-white rounded-full px-2 py-1 text-xs font-bold absolute -top-2 -right-2"></span>
  </button>
</nav>

<Sidebar />

<script >
  import { toggleSidebar, cartTotalItems } from "@/store/cart";
  import { $ } from "@/lib/dom-selector";

  const cartButton = $("#cart-button");

  cartButton?.addEventListener("click", () => {
    console.log("Cart button clicked");
    toggleSidebar();
  });

  cartTotalItems.subscribe((count) => {
    const cartCount = $("#cart-count");
    if (cartCount) {
      cartCount.textContent = count.toString();
      cartCount.style.display = count > 0 ? "block" : "none";
    }
  });

</script>
