---
import Button from "@/components/ui/Button.astro";


---

<section class="relative flex min-h-[60dvh] w-full overflow-hidden">

  <img class="absolute w-[20rem] -right-14 -top-50 h-full object-contain -rotate-[210deg] animate-fade-in-down max-w-xl opacity-35 " src="/images/hero3.png" alt="Maquillaje" />

  <div class="flex w-full flex-col gap-5 p-8 text-primary justify-center">
    <h1 class="max-w-[10ch] text-5xl  font-bold">
      WE LOVE MAKEUP
    </h1>
    <p class="text-lg max-w-[20ch]">
      Compra online y recibe en casa
    </p>

    <Button server:defer type="button" variant="primary">
      WhatsApp
    </Button>

    <div class="mt-5 flex flex-wrap gap-2 justify-center">
      <Button server:defer type="button" variant="secondary">
        Pestañas
      </Button>
      <Button server:defer type="button" variant="secondary">
        Ojos
      </Button>
      <Button server:defer type="button" variant="secondary">
        Labios
      </Button>
      <Button server:defer type="button" variant="secondary">
        Rostro
      </Button>
    </div>
  </div>
</section>

<script>
  import { $ } from "@/lib/dom-selector";
</script>

<style>
  
</style>
