---
import Button from "@/components/ui/Button";
import { Image } from "astro:assets";
---

<section class="relative flex min-h-[90dvh] w-full overflow-hidden pt-28">
  <Image
    class="absolute w-[20rem] lg:w-[50rem] -right-14 -top-32 sm:-top-48 lg:-top-32 h-full object-contain -rotate-[210deg] animate-fade-in-down max-w-xl opacity-90 z-10"
    src="/images/hero3.webp"
    alt="Maquillaje"
    width={512}
    height={512}
    inferSize
    loading="lazy"
    decoding="async"
  />

  <div
    class="flex w-full flex-col gap-8 lg:gap-10 text-primary justify-center z-20"
  >
    <h1
      class="max-w-[10ch] lg:w-auto text-5xl lg:text-7xl xl:text-9xl font-bold backdrop-blur-xs rounded-lg neon-text"
    >
      WE LOVE MAKEUP
    </h1>
    <p class="text-lg max-w-[20ch] lg:max-w-[30ch] lg:text-3xl">
      Descubre productos de belleza de alta calidad para realzar tu belleza natural
    </p>

    <div class="mt-10 flex flex-wrap gap-4 justify-center [&>button]:min-w-[150px]">
      <Button aria-label="Pestañas" server:defer type="button" variant="primary" size="md"> Pestañas </Button>
      <Button aria-label="Ojos" server:defer type="button" variant="primary" size="md"> Ojos </Button>
      <Button aria-label="Labios" server:defer type="button" variant="primary" size="md"> Labios </Button>
      <Button aria-label="Rostro" server:defer type="button" variant="primary" size="md"> Rostro </Button>
    </div>
  </div>
</section>

<script>
  import { $$ } from "@/lib/dom-selector";
  
  document.addEventListener("astro:page-load", () => {
    $$('button')?.forEach((button) => {
      button.addEventListener('click', () => {
        document.querySelector('#highlights')?.scrollIntoView({ behavior: 'smooth' });
      });
    });
  });
</script>
