---
import Button from "@/components/ui/Button";


---

<section class="relative flex min-h-[90dvh] w-full overflow-hidden">

    <img class="absolute w-[20rem] lg:w-[50rem] -right-14 -top-36 h-full object-contain -rotate-[210deg] animate-fade-in-down max-w-xl opacity-90 z-10" src="/images/hero3.png" alt="Maquillaje" />

  <div class="flex w-full flex-col gap-5 lg:gap-8 text-primary justify-center z-20">
    <h1 class="max-w-[10ch] lg:max-w-full text-5xl lg:text-7xl font-bold backdrop-blur-xs rounded-lg">
      WE LOVE MAKEUP
    </h1>
    <p class="text-lg max-w-[20ch] lg:max-w-[30ch] lg:text-3xl">
      Compra online y recibe en casa
    </p>

    <Button server:defer type="button" variant="primary">
      WhatsApp
    </Button>

    <div class="mt-10 flex flex-wrap gap-2 justify-center">
      <Button server:defer type="button" variant="secondary">
        Pestañas
      </Button>
      <Button server:defer type="button" variant="secondary">
        Ojos
      </Button>
      <Button server:defer type="button" variant="secondary">
        Labios
      </Button>
      <Button server:defer type="button" variant="secondary">
        Rostro
      </Button>
    </div>
  </div>
</section>
