---
import Card from "@/components/card.astro";


---

<section class="relative flex flex-wrap gap-2 min-h-[90dvh] w-full overflow-hidden justify-center">
    <Card title="Apple Watch Series 7 GPS" amount={10000} image="https://montoccosmetictools.com/cdn/shop/files/LIA.jpg?v=1749648932&width=1200" type="featured" />
    <Card title="Apple Watch Series 7 GPS" amount={20000} image="https://montoccosmetictools.com/cdn/shop/files/LIA.jpg?v=1749648932&width=1200" type="featured" />
</section>