---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";

import Spotlight from '@/components/Spotlight.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pinkify</title>
    <meta
      name="description"
      content="A simple tool to change the color of any website to pink."
    />
    <ClientRouter />
  </head>
  <body>
    <a href="#main-content" class="sr-only focus:not-sr-only">
      Saltar al contenido principal
    </a>

    <main id="main-content" class="min-h-screen w-full relative">
      <Spotlight />
      <slot />
    </main>
  </body>
</html>
