---
interface Props {
  type: "button" | "submit" | "reset";
  variant?: "primary" | "secondary";
  class?: string;
}

const { class: className, type, variant = "primary" } = Astro.props;
---

<button
  type={type}
  class:list={[
    ` rounded w-[fit-content] font-bold cursor-pointer`,
    className,
    variant === "primary" ? "py-2 px-4 bg-[var(--color-theme-primary)] text-black " : "py-1 px-3 text-primary bg-[#212121] fill-neutral-50 border-1 border-white/30 rounded-2xl",
  ]}>
  <slot />  
</button>
